<h3>點選心情按鈕，或描述今天的心情，AI 將會提供你一些聖經經文。</h3>
<p>
    <button mat-stroked-button (click)="chooseMood('開心')">開心</button>
    <button mat-stroked-button (click)="chooseMood('難過')">難過</button>
</p>
<form class="input-container">
    <mat-form-field class="mood">
      <mat-label>請描述你今天的心情</mat-label>
      <input matInput [(ngModel)]="mood" name="mood" placeholder="今天的心情如何">
    </mat-form-field>
    <button mat-stroked-button (click)=submit()>送出</button>
</form>

<div class="chat-container">
  <div class="chat-bubble ai-bubble" *ngIf="bibleVerse">{{bibleVerse}}</div>
</div>
