h3{
  color:cadetblue
}

button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #2196f3;
  background-color: #fff;
  color: #2196f3;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

button:hover {
  background-color: #2196f3;
  color: #fff;
}

button.loading {
  position: relative;
}

button.loading::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.25em solid rgba(0, 0, 0, 0.1);
  border-top-color: #007bff;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  padding: 16px;
}

.chat-bubble {
  display: inline-block;
  max-width: 80%;
  padding: 8px 16px;
  margin-bottom: 8px;
  border-radius: 16px;
  font-size: 18px;
}

.ai-bubble {
  align-self: flex-start;
  background-color:cadetblue;
  color: #fff;
}