p {
    font-size: 18px;
    line-height: 1.5; 
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
    text-align: justify;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  